:root {
    --dark-red: #801100;
    --red: #B62203;
    --dark-orange: #D73502;
    --orange: #FC6400;
    --yellow: #FAC000;
    --dark-gray: #393A3C;
    --gray: #757374;
    --shadow: rgb(48, 48, 48);
    --green: #93Fb98;
    --dull: #d3d3d3;
    --blue: #4C8BF5;
}