@import './assets/colors.css';

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray);
  font-family: Roboto;
  overflow: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}