@import '../../assets/colors.css';

#container-login {
    padding-bottom: 40px;
    width: 400px;
    display: flex;
    background-color: var(--dull);
    flex-flow: column;
    align-items: center;
    border-radius: 10px;
    margin: 50px auto;
}

#container-login input {
    border: none;
    border-radius: 7px;
    height: 45px;
    width: 80%;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 0.9em;
}

#container-login > button {
    border: none;
    width: 60%;
    padding: 10px;
    font-size: 0.9em;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
}

#btn-login {
    background-color: var(--orange);
}

#btn-login-google {
    background-color: var(--blue);
}

#container-login > div {
    margin-top: 10px;
    font-size: 0.9em;
}